body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #999999;
}
/*header start*/
header{
	background-color: #f6f9f9;
	padding: 20px 0 ;
}
.wrapper{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
.logo {
	width: 15%;
	float: left;
	padding: 5px 0;
}
.logo img{
	width: 100%;
}
.menu{
	overflow: hidden;
	width: 70%;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;
}
.menu ul li a{
	margin-right: 80px;
	text-decoration: none;
	padding: 5px 0;
	display: inline-block;
	color: #2D3950;
	font-size: 20px;
	border-bottom: 2px solid transparent;
	transition: .1s;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 2px solid #15A4FA;
}
/*header end*/

/*banner start*/
.banner{
	background-size: cover;
	height: 800px;
	background-image: url(../images/banner_img.jpg);
}
.b_content {
	text-align: center;
	width: 40%;
	margin: 0 auto;
	padding: 280px 0 207px;
}
.b_content hr{
	color: #15A4FA;
}
.b_h1 {
	margin: 0 0 20px;
	font-size: 100px;
	color: white;
}
.b_text {
	color: white;
	font-size: 20px;
	margin: 30px 0 55px;
}
.b_btn button {
	width: 200px;
	height: 60px;
	font-size: 20px;
	letter-spacing: 2px;
	border-radius: 3px;
	color: white;
	background: transparent;
	border: 1px solid #15A4FA;
	transition: .3s;
}
.b_btn button:hover{
	background-color: #15A4FA;
}
/*banner end*/

/*simple section start*/
.simple{
	background-color: #F6F9F9;
	padding: 80px 0;
}
.s_content{
	text-align: center;
}
.s_h1 {
	color: #2d3950;
	font-size: 50px;
	font-family: lato;
	font-weight: 400;
	margin: 0;
}
.s_text {
	font-size: 20px;
	line-height: 30px;
}
/*simple section end*/

/*service section start*/
.sr_content{
	overflow: hidden;
}
.sr_single {
	margin: 65px 0;
	float: left;
	width: 33.33%;
	text-align: center;
	padding: -1px;
}
.sr_single:last-child{
	margin-right: 0;
}
.sr_img{
	margin: 0 auto;
	width: 20%;
}
.sr_img img{
	width: 100%;
}

.sr_h2{}
.sr_h2 h2{
	font-family: lato;
	font-weight: 400;
	color: #2d3950;
}
.sr_text {
	line-height: 25px;
	margin: 0 15%;
}
/*service section start*/

/*showcase section start*/
.showcase{
	background-color: #F6F9F9;
}
.show_content{
	padding-bottom: 80px;
}
.show_h{
	text-align: center;
	padding-top: 60px;
	/*border: 1px solid blue;*/
}
.show_h h1{
	
}
.show_text{
	margin-bottom: 0;
}
.show_ssigle{
	overflow: hidden;
	padding-top: 80px;
}
.show_single {
	float: left;
	margin: 0px 2% 2% 0;
	width: 32%;
}
.mr_0{
	margin-right: 0;
}
.show_img{
	position: relative;
	width: 100%;
	display: block;
}
.over{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #6A5CE4;
	font-family: lato;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0%;
	transition: opacity 0.5s;
}
.over:hover{
	opacity: 80%;
}
.over{
	transform: translateY(20px);
	transition: transform 0.5s;
}
.over:hover{
	transform: translateY(0);
}
.show_img img {
	width: 100%;
	border-radius: 2px;
}
/*showcase section end*/

/*contact section start*/
.contact{
	min-height: 710px;
	background-image: url(../images/ct_bg_img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper2{
	width: 50%;
	margin: 0 auto;
}
.ct_content {
	text-align: center;
	padding-top: 60px;
}
.ct_h1{
	margin: 0;
	color: white;
	font-family: lato;
	font-weight: 400;
	font-size: 50px;
}
.ct_text{
	margin-bottom: 50px;
}
.ct_form{
}
#full_name {
	background: transparent;
	color: #999999;
	border: 1px solid #999999;
	width: 50%;
	height: 50px;
	font-size: 20px;
	padding-left: 20px;
	border-radius: 3px;
}
#email{
	background: transparent;
	color: #999999;
	border: 1px solid #999999;
	width: 50%;
	height: 50px;
	font-size: 20px;
	padding-left: 20px;
	border-radius: 3px;
}
.text_area {
	width: 48%;
	height: 160px;
	background: transparent;
	color: #999999;
	border: 1px solid #999999;
	resize: none;
	border-radius: 3px;
	font-family: lato;
	font-weight: 400;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
}
.ct_sb {
	text-align: center;
	/*border: 1px solid;*/
	width: 53%;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 3px;
	padding-top: 20px;
}
#checkbox{
	border: none;
}
.checkbox {
	float: left;
	/*border: 1px solid;*/
	margin-top: 10px;
}
.cb_text {
    color: #999999;
    font-weight: 300;
}
.ct_btn button{
	float: right;
	background: transparent;
	color: #999999;
	border: 1px solid #999999;
	width: 30%;
	height: 45px;
	border-radius: 3px;
	font-size: 20px;
	transition: .3s;
}
.ct_btn button:hover{
	border-color: #15A4FA;
}
/*contact section end*/

/*footer section start*/
footer{
	min-height:50px;
	background-color: #F6F9F9;
}
.wrapper3{
	padding: 10px 0;
	overflow: hidden;
	margin: 0 auto;
	width: 80%;
}
.copy_link{
	text-decoration: none;
	color: #999999;
}
.f_left {
    float: left;
    margin-top: 8px;
}
.f_right{
	float: right;
}
.f_right ul{
	padding: 0;
	overflow: hidden;
}
.f_right ul li {
    text-align: center;
    width: 35px;
    height: 27px;
    padding-top: 7px;
    background-color: #15A4FA;
    margin-right: 40px;
    float: left;
    list-style: none;
    transition: .3s;
}
.f_right ul li a {
    color: white;
    text-decoration: none;
}
.f_right ul li:hover{
    background-color: #2D3950;
}
.f_right ul li:last-child{
	margin-right: 0;
}
/*footer section end*/
