body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
/*header start*/
header{
	/*border: 1px solid;*/
	background-color: #f6f9f9;
	padding: 20px 0 ;
}
.wrapper{
	/*border: 1px solid red;*/
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.logo {
	width: 15%;
	/*border: 1px solid blue;*/
	float: left;
	padding: 6px 0;
}
.logo img{
	width: 100%;
}
/*menu*/
.menu{
	margin-top: 3px;
	overflow: hidden;
	width: 70%;
	/*border: 1px solid blue;*/
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	float: left;
	list-style: none;
}
.menu ul li a{
	margin-right: 80px;
	text-decoration: none;
	padding: 5px 0;
	display: inline-block;
	color: #2D3950;
	font-size: 20px;
	border-bottom: 2px solid #15A4FA transparent;
	transition: .1s;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 2px solid #15A4FA;
}
/*header end*/

/*banner start*/
.banner{
	background-size: cover;
	height: 800px;
	background-image: url(../images/banner_img.jpg);
}
.b_content {
	text-align: center;
	/*border: 1px solid white;*/
	width: 30%;
	margin: 0 auto;
	padding: 280px 0;
}
.b_content hr{
	color: #15A4FA;
}
.b_h1{
	margin: 0;
	font-size: 100px;
	color: white;
}
.b_text{
	color: white;
	margin-bottom: 50px;
}
.b_btn{}
.b_btn button {
	width: 165px;
	height: 60px;
	color: white;
	background: transparent;
	border: 1px solid #15A4FA;
	transition: .3s;
}
.b_btn button:hover{
	background-color: #15A4FA;
}
/*banner end*/
